<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dishsys.mapper.DishMapper">
  <resultMap id="BaseResultMap" type="dishsys.bean.Dish">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CLASSIFY_ID" jdbcType="INTEGER" property="classifyId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPT" jdbcType="VARCHAR" property="descript" />
    <result column="PRICE" jdbcType="REAL" property="price" />
    <result column="SALES" jdbcType="INTEGER" property="sales" />
    <result column="RECOMMENDED" jdbcType="INTEGER" property="recommended" />
    <result column="PICTURE" jdbcType="VARCHAR" property="picture" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CLASSIFY_ID, NAME, DESCRIPT, PRICE, SALES, RECOMMENDED, PICTURE, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="dishsys.bean.DishExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dishes
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dishes
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="dishsys.bean.DishExample">
    delete from dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="dishsys.bean.Dish" useGeneratedKeys="true">
    insert into dishes (CLASSIFY_ID, NAME, DESCRIPT, 
      PRICE, SALES, RECOMMENDED, 
      PICTURE, CREATE_TIME)
    values (#{classifyId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{sales,jdbcType=INTEGER}, #{recommended,jdbcType=INTEGER}, 
      #{picture,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="dishsys.bean.Dish" useGeneratedKeys="true">
    insert into dishes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classifyId != null">
        CLASSIFY_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="descript != null">
        DESCRIPT,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="sales != null">
        SALES,
      </if>
      <if test="recommended != null">
        RECOMMENDED,
      </if>
      <if test="picture != null">
        PICTURE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        #{recommended,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dishsys.bean.DishExample" resultType="java.lang.Long">
    select count(*) from dishes
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <update id="updateByExampleSelective" parameterType="map">
    update dishes
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.classifyId != null">
        CLASSIFY_ID = #{record.classifyId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.descript != null">
        DESCRIPT = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.sales != null">
        SALES = #{record.sales,jdbcType=INTEGER},
      </if>
      <if test="record.recommended != null">
        RECOMMENDED = #{record.recommended,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null">
        PICTURE = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dishes
    set ID = #{record.id,jdbcType=BIGINT},
      CLASSIFY_ID = #{record.classifyId,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      DESCRIPT = #{record.descript,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=REAL},
      SALES = #{record.sales,jdbcType=INTEGER},
      RECOMMENDED = #{record.recommended,jdbcType=INTEGER},
      PICTURE = #{record.picture,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dishsys.bean.Dish">
    update dishes
    <set>
      <if test="classifyId != null">
        CLASSIFY_ID = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        DESCRIPT = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=REAL},
      </if>
      <if test="sales != null">
        SALES = #{sales,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        RECOMMENDED = #{recommended,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        PICTURE = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="dishsys.bean.Dish">
    update dishes
    set CLASSIFY_ID = #{classifyId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPT = #{descript,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=REAL},
      SALES = #{sales,jdbcType=INTEGER},
      RECOMMENDED = #{recommended,jdbcType=INTEGER},
      PICTURE = #{picture,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="getHotFootList" resultType="dishsys.bean.Dish">
    SELECT * FROM `dishes` ORDER BY SALES DESC limit 6
  </select>
  <select id="getCorrespond" resultType="dishsys.bean.Dish">
   SELECT * from dishes t1 LEFT JOIN classify t2 on t1.CLASSIFY_ID = t2.ID where t2.ID  = #{classifyId}
  </select>
</mapper>